version: "3.9"

services:
  backend:
    build: .
    container_name: netflix-backend-dev
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/netflix
      - PORT=5000
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: netflix-mongo-dev
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
